<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
	<uis_imageurls_config>
	    <default>
		<uis_imageurls_enable>1</uis_imageurls_enable>
	    </default>
	</uis_imageurls_config>
    </default>
</config>
